body {
    background-color: tan;
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    width: 960px;
    margin: auto;
    background-color: #ffffff;
    border-color: #cccccc;
    border-style: solid;
}

h1 {
    color: white;
    background-color: #4aaaa5;
    padding: 15px;
    float: left;
}

}

a {
    padding: 10;
    color: #777777;
    float: right;
    margin: 10px;
    text-align: right;
    font: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
}

h2 {
    width: 960px;
    text-align: left;
    color: black;
    padding: 20px;
    clear: both;
    Margin: auto;

}

img {
    width: 200px;
    height: auto;
    float: left;
    padding-right: 10px;
}

main {
    width: 960px;
    margin: auto;
    background-color: blue;
    height: auto;
    border-color: #dddddd;
    border-style: solid;
    clear: left;
}

p {
    color: #777777;
    font: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
}

.footer {
    clear: both;
    border-style: solid;
    border-color: #4aaaa5;
    border-width: 8px;
}